form(ng-submit='submit()', role='form')
  .form-group
    label(for='thing.name') Name
    input.form-control(type='text', id='thing.name', ng-model='thing.name', placeholder='name')
  .form-group
    label(for='thing.info') Info
    textarea.form-control(id='thing.info', ng-model='thing.info', placeholder='info')
  .form-group
    label(for='thing.awesomeness') Awesomeness
    input.form-control(type='number', id='thing.awesomeness', ng-model='thing.awesomeness', placeholder='awesomeness')
  button.btn.btn-default(type='submit') Submit!
